# === Sistema Operacional ===
.DS_Store
.Trash/
*.swp
*~

# === Swift Package Manager (SPM) & Linux ===
.build/
/.build/
.swiftpm/
/Packages/

# === Xcode & Mac (Se abrir o projeto no Mac) ===
DerivedData/
*.xcodeproj/
*.xcworkspace/
.xcschemes/
xcuserdata/

# === Credenciais e Segurança ===
.netrc
.env
.env.*
